p{
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  color: black;
}


.App {
  text-align: center;
  margin-bottom: 50px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-title{
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 3.5rem;
  color: black;
}

.finance, .predictions{
  display: flex;
  flex-direction: row;
}

.finance-left,.finance-right, .predictions-left, .predictions-right{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 3%;
  margin-top: 3%;
  width: 45%;
}

.chart{
  height: 350px;
    width: 100%;
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



